<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Daily Journal</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <p class="navbar-brand">DAILY JOURNAL</p>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportDropdown" aria-controls="navbarSupportDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportDropdown">
                <ul class="navbar-nav ml-auto">
                    <!-- 6 -->
                    <li id="home" class="nav-item"><a href="/home">HOME</a></li>
                    <li id="about" class="nav-item"><a href="/about">ABOUT US</a></li>
                    <li id="contact" class="nav-item"><a href="/contact">CONTACT US</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">